.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 45px 0;
  }
  .MuiGrid-spacing-xs-3 {
    width: 95% !important;
    margin: -12px;
}


h1 {
  position: relative;
  font-size: 200px;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Lobster', helvetica, arial;
}

h1 p {
  text-decoration: none;
  color: #666;
  position: absolute;

   
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
}

h1:after {
  content : 'COVID 19';
  color: #d6d6d6;
  text-shadow: 0 1px 0 white;
}
  
  .card {
    margin: 0 2% !important;
  }
  
  .infected {
    border-bottom: 10px solid rgba(0, 0, 255, 0.5);
  }
  
  .recovered{
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
  }
  
  .deaths{
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
  }
  
  @media only screen and (max-width: 770px) {
    .card {
      margin: 2% 0 !important;
    }
  }